<!-- Loop over each blog in the blogs array -->
{{#each blogs as |blog| }}
<div class="row mb-4 blog">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">
                    <!-- Call helper function with triple brackets to render the emoji span as HTML -->
                    <a href="/blog/{{blog.id}}">{{blog.title}}</a>
                </h2>
                <p class="card-text">
                    <span class="blog-body">{{blog.post_body}}</span>
                </p>
                <p>Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
            </div>
        </div>
    </div>
</div>
{{/each}}